<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>fai-web</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- Define os arquivos de configuracoes XML para o contexto Spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>
	
	<!-- Inicializa o Spring Web Application Context -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- Ativa os escopos web para os beans no Spring -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<servlet>
		<description></description>
		<display-name>ServletFai</display-name>
		<servlet-name>ServletFai</servlet-name>
		<servlet-class>fai.controle.web.impl.ServletFai</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletFai</servlet-name>
		<url-pattern>/SalvarCliente</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ServletFai</servlet-name>
		<url-pattern>/SalvarTipoCliente</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ServletFai</servlet-name>
		<url-pattern>/SalvarCategoria</url-pattern>
	</servlet-mapping>


</web-app>